.pagination-wrapper {
    display: flex;

    .pagination-button {
        border-radius: 8px;
        height: 32px;
        background: #99042410;
        color: #990424;
        padding: 0 16px;
        margin: 0 8px;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 500;
        transition: 0.1s;

        &.disable {
            opacity: 50%;

            &:hover {
                background: #99042410;
                cursor: default;
            }
        }

        &:hover {
            cursor: pointer;
            background: #9904242a;
        }
    }

    .ml-8px {
        margin-left: 8px;
    }
}